@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('fonts/OpenSans-SemiBold.ttf') format('truetype'),
       url('fonts/OpenSans-SemiBold.woff') format('woff'),
       url('fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('fonts/OpenSans-ExtraBold.ttf') format('truetype'),
       url('fonts/OpenSans-ExtraBold.woff') format('woff'),
       url('fonts/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/OpenSans-Light.ttf') format('truetype'),
       url('fonts/OpenSans-Light.woff') format('woff'),
       url('fonts/OpenSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
 }

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('fonts/OpenSans-LightItalic.ttf') format('truetype'),
       url('fonts/OpenSans-LightItalic.woff') format('woff'),
       url('fonts/OpenSans-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}  

body {
    margin: 0px;
}

.viewheight60 {
    height: 60vh;
}

.viewheight100p {
    height: 100%;
}

.viewheight30 {
    height: 30vh;
}

.homepage-background {
    background-image: url(images/header_bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-background {
    background-image: url(images/testimonial_bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.lightbackground {
    background-color:#f0efef;
    display: flex;
    justify-content: center;
}

.darkbackground {
    background-color:#606161;
    display: flex;
    justify-content: center;
}

.yellowbackground {
    background-color:#f9e42e;
    text-align: center;
    padding: 20px;
}

.bluebackground {
    background-color:#033048;
    display: flex;
    justify-content: center;
}

.maxwidth {
    max-width: 920px;
    width: 100%;
    padding: 20px;
}

.textcolumn75 {
    width: 75%;
}

.textcolumn60 {
    width: 60%;
}

.textcolumn40 {
    width: 40%;
}

.textcolumn25 {
    width: 25%;
    align-self: flex-start;
}

.width100p {
    width: 100%;
}

.width90p {
    width: 90%;
}

.borderbox {
    box-sizing: border-box;
    text-align: center;
}

.flexcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexrow {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.justifyspacebetween {
    justify-content: space-between;
}

.justifyevenly {
    justify-content: space-around;
}

.tagline {
    border: 5px;
    padding-bottom: 150px;
}

.textaligncenter {
    text-align: center;
}

button {
    border-radius: 5px;
    border: 0px solid;
    text-align: center;
    padding: 5px 30px 5px 30px;
}

.yellowbutton {
    background-color: #f9e42e;
    color: #121212;
}

.bluebutton {
    background-color:#033048;
    color: white;
}

.semibold {
    font-family: "OpenSans-SemiBold";
}

.extrabold {
    font-family: "OpenSans-ExtraBold";
}

.light {
    font-family: "OpenSans-Light";
}

.lightitalic {
    font-family: "OpenSans-LightItalic";
}

.fontwhite {
    color: white;
}

.fontdark {
    color: #121212;
}

.fontyellow {
    color:#f9e42e;
}

.fontblue {
    color:#033048;
}

.text24 {
    font-size: 24pt;
}

.text14 {
    font-size: 14pt;
}

.text20 {
    font-size: 20pt;
}

.text13 {
    font-size: 13pt;
}

.text18 {
    font-size: 18pt;
}

.text12 {
    font-size: 12pt;
}

.text32 {
    font-size: 32pt;
}

.extrapadding {
    padding:40px;
}

.smallpadding {
    padding:5px;
}

.smallpaddingleft {
    padding-left:5px;
}

.mediumpadding {
    padding:10px;
}

.extrapaddingleft {
    padding-left:20px;
}

.extrapaddingtop {
    padding-top: 40px;
}

.extrapaddingbottom {
    padding-bottom: 40px;
}

ul.nobullets {
    list-style-type: none;
}

.no-margin {
    margin:0px;
}

p.dropcap:first-letter {
    float: left;
    font-size: 40pt;
    margin-right: 7px;
}

.textalignright {
    text-align: right;
}